@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar{
 height: 8px !important;
 width: 8px;
}
.custom-scrollbar::-webkit-scrollbae-thumb{
    background-color: #ffffff3b;
}